<h1 mat-dialog-title>Upload de arquivo(s)</h1>
<div mat-dialog-content>
    <p *ngIf="data.type === 'success'">Upload realizado com sucesso!</p>
    <p *ngIf="data.type === 'error'">Ocorreu um erro ao realizar o upload, tente novamente!</p>
</div>