<app-spinner *ngIf="showSpinner"></app-spinner>

<div class="mt-3 mb-3">
    <div class="row">
        <mat-label class="fs-5 fw-bold">Aplicação upload GTCOM</mat-label>
    </div>
    <div class="row mt-1">
        <mat-label class="fw-light">Aplicação desenvolvida para teste da empresa CCEE</mat-label>
    </div>
</div>

<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <input formControlName="files" type="file" multiple accept=".xml" class="form-control" (change)="onFileChange($event)">
    <button type="button" mat-raised-button color="accent" class="mt-3" type="submit" [disabled]="formGroup.invalid">Enviar</button>
</form>

